{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% vite_hmr_client %}
    {% if debug %}
        <script type="module">
            import RefreshRuntime from "http://localhost:3000/static/@react-refresh";

            RefreshRuntime.injectIntoGlobalHook(window);
            window.$RefreshReg$ = () => {
            };
            window.$RefreshSig$ = () => (type) => type;
            window.__vite_plugin_react_preamble_installed__ = true;
        </script>
    {% endif %}
    {% vite_asset 'main.tsx' %}

    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Django Vite Example</title>
</head>

<body>
<div id="app">
    {#        <h2>Hello there</h2>#}
    {#        <my-custom-component></my-custom-component>#}
</div>
</body>
</html>
